@import "tailwindcss";

/* Reset básico para garantir consistência entre navegadores */
:root {
  font-family: 'Neue Haas Grotesk', system-ui, sans-serif;
  background-color: #f8fafc; /* O fundo slate-50 que planejamos */
  color: #0f172a;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* Removemos as travas do #root que o Vite colocou */
#root {
  width: 100%;
  margin: 0;
  text-align: left; /* Garante que os textos obedeçam as classes do Tailwind */
}

/* Ajuste para imagens não estourarem */
img {
  max-width: 100%;
  display: block;
}


@layer base {
  h1, h2, h3, h4 {
    @apply tracking-[-0.03em] leading-[1.2] font-bold;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11"; /* Melhora a renderização de fontes modernas */
  }
}